@charset "utf-8";
@import url(reset.css);
@import url(main&footer.css);
@import url(main&footer.scss);

.main {
    .login {
        padding: 20rem 0 10rem;
        .inner {
            width: 40rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            h1 {
                font-size: 5rem;
                padding-bottom: 5rem;
            }
            .kakao_btn {
                width: 100%;
                height: 5rem;
                text-align: center;
                line-height: 5.6rem;
                background-color: yellow;
                position: relative;
                &::before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    background: url(../img/icon-kakao.png) center center / 100% no-repeat;
                    position: absolute;
                    top: 49%;
                    left: 18%;
                    transform: translateY(-50%);
                }
                p {
                    font-size: 1.8rem;
                    padding-left: 3rem;
                }
            }/* kakao_btn */
            .box_btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 3rem;
                .or_line {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2rem;
                    .hr {
                        width: 100%;
                        height: 1px;
                        border: 0;
                        background-color: #ccc;
                        margin-top: 1rem;
                    }
                    .text {
                        font-size: 1.4rem;
                        color: #ABABAB;
                        margin: 0 1rem;
                    }
                }/* or_line */
                .id_password {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    .id_box {
                        width: 100%;
                        &::before {
                            content: '';
                            width: 30px;
                            height: 30px;
                            background: url('../img/icon_id.png') center center / cover no-repeat;
                            position: absolute;
                            top: 10px;
                            left: 11px;
                        }
                        input {
                            width: 100%;
                            height: 5rem;
                            padding: 0 1rem 0 4.4rem;
                            font-size: 1.4rem;
                            color: #ccc;
                            border: 1px solid #ccc;
                        }
                    }/* id_box */
                    .password  {
                        margin-top: 1rem;
                        position: relative ;
                        &::before {
                            content: '';
                            width: 30px;
                            height: 30px;
                            background: url('../img/icon_password.png') center center / cover no-repeat;
                            position: absolute;
                            top: 10px;
                            left: 11px;  
                        }
                    }/* password */
                    .check_box {
                        width: 100%;
                        ul {
                            margin-top: 1rem;
                            display: flex;
                            justify-content: flex-start;
                            // flex-wrap: nowrap;
                            li {
                                display: flex;
                                font-size: 1.6rem;
                                font-weight: bold;
                                color: #222;
                                margin-left: 0.8rem;
                                margin-right: 2rem;
                                align-items: center;
                                input {
                                    width: 2rem;
                                    height: 2rem;
                                    margin-right: 0.7rem;
                                    border-radius: 0;
                                }
                                p {
                                    padding: 5px 0;
                                }
                            }
                        }
                    }/* check_box */
                    .login_box {
                        width: 100%;
                        height: 5rem;
                        line-height: 5rem;
                        margin: 3rem 0 2rem;
                        display: flex;
                        justify-content: center;
                        font-size: 1.6rem;
                        color: #333;
                        border: 1px solid #ccc;
                        &:hover {
                            border: 1px solid #333;
                        }
                    }
                }/* id_password */

                .last_login {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    ul {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        li {
                            font-size: 1.6rem;
                            color: #ccc;
                            padding: 0 1.6rem;
                            border-right: 1px solid #ccc;
                            &:first-child {padding-left: 0;}
                            &:last-child {
                                padding: 0;
                                border-right: 0;
                                margin-top: 1rem;
                            }
                        }
                    }
                }/* last_login */
                .or_line {
                    margin-top: 1rem;
                }/* or_line */

                .btn_icon {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    a {
                        width: 46px;
                        height: 46px;
                        margin-right: 8px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }/* box_btn */
        }/* inner */
    }/* login */
}/* main */