@charset "utf-8";

@font-face { /* clio 로고 */
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 섹션 타이틀 폰트 - 영어 */
.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}
/* 섹션 타이틀 폰트 - 한글 */
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 홈페이지 일반 폰트 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*,
::before, 
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: normal;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    line-height: 1;
}
button {
    border: 0;
    background-color: transparent;
}

html, body {font-size: 62.8%;}

body {cursor: pointer;}

button {cursor: pointer;}

.mobile{display: none;}


:root {
    --title-padding: 100px 0;

    --font-title: 'Giants-Inline';
    --font-title-en: "Kaushan Script", cursive;
    --font-title-kr: 'iceJaram-Rg';

}
body {
    position: relative;
    font-family: 'SUIT-Regular';
}

.inner {
    max-width: 1440px;
    width: calc(100% - 24px);
    margin: 0 auto;
}
